---
interface Props {
  caption: string;
  customClass?: string;
}

const { caption, customClass = '' } = Astro.props;
---

<figure class="w-full flex flex-col gap-2 items-center ${customClass}">
  <div class="*:max-h-[35rem] *:object-contain flex justify-center w-full">
    <slot />
  </div>
  <figcaption class="text-center text-zinc-700">
    {caption}
  </figcaption>
</figure>
